/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2018, 18:23:47
    Author     : Gabriel
*/

* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}

body{
    font-family: arial;
    background: #f1f8e9;
}

.titulo-geral{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
}

.titulo-formularios{
    font-weight: bold;
    font-family: monospace;
}

.subtitulo-geral{
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.caixa-login{
    padding: 10px;
    border: 0px;
    box-sizing: border-box;
    text-align: left;
}

.botao-primario{
    font-family: monospace;
    background: transparent;
    border: 1px solid #777;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
}

.form-geral{
    margin-top: 30px;
}

.item-list-segura{
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
    display: inline-block;
}

.item-list{
    margin-bottom: 5px;
    margin-top: 5px;
    float: left;
    width: 100%;
    font-family: arial;
    font-size: 18px;
}

.item-list.id{
    font-weight: bold;
}

.item-list i{
    margin-right: 5px;
}

.item-list-repeat{
    text-align: left;
    float: left;
    width: 23.3%;
    height: 170px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}